<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Hello Spring Boot</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstraptheme.
min.css}"
	rel="stylesheet" />
</head>
<body>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Alunos</h1>
		</div>
		<div class="panel-body">
			<form class="form-inline" method="post" th:object="${aluno}"
				th:action="@{/alunos}" style="margin: 20px 0">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Nome"
						th:field="*{nome}" />
						 <input type="text" class="form-control"
						placeholder="Nota 1" th:field="*{nota1}" /> 
						<input type="text"
						class="form-control" placeholder="Nota 2" th:field="*{nota2}" />
					<button type="submit" class="btn btnprimary">Adicionar</button>
				</div>
			</form>
			<table class="table">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Média</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="aluno : ${alunos}">
						<td th:text="${aluno.nome}"></td>
						<td th:text="${aluno.mediaFinal}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>
